@import url('https://dev-cats.github.io/code-snippets/JetBrainsMono.css');
* {
	font-family: 'Jetbrains Mono';
}

:root {
	--hue: 267;
	--function: 190;

	--txt-sat: 80%;
	--txt-lit: 60%;
}

body {
	background: hsl(var(--hue), 10%, 10%);
}

.function {
	width: 20vw;
	position: relative;
	margin-right: 2vh;
	float: left;
}
.function-name {
	width: 100%;
	height: 2vh;
	position: absolute;
	background: hsl(var(--hue), 10%, 30%);
	border: 2px solid black;
	border-radius: 12px;
	text-align: center;
	line-height: 2vh;
	color: hsl(var(--function), var(--txt-sat), var(--txt-lit));
}

.call {
	height: 2vh;
	position: absolute;
	background: hsl(var(--hue), 10%, 40%);
	border: 2px solid black;
	border-radius: 12px;
	text-align: left;
	line-height: 2vh;
	color: hsl(var(--function), var(--txt-sat), var(--txt-lit));
}

